body {
    padding: 0px;
    margin: 0px;
    height: 900px;
    background-image: url("images/PIRO4D-Pixabay.png");
    background-size: cover;
}

h1 {
    font-family: Optima, sans-serif;
    text-align: center;
    color: #605F5E;
    background-color: #1955ceda;
    padding: 30px;
    margin: 0px;
}

h2 {
    color: #F0544F;
    font-size:xx-large;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
}

#countryResults {
    font-family:sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
    text-align: center;

}

#nameCountry{
    color: #e81212;
    font-weight: bolder;
}

#introParagraph {
    text-align: center;
    color: #FFFFFF;
    
}

#countryForm {
    text-align: center;
}



