h1 {
    font-family: Optima, sans-serif;
    text-align: center;
    color: #605F5E;
    background-color: #1D3461;
    padding: 30px;
}

h2 {
    color: #F0544F;
    font-size:xx-large;
    font-family: sans-serif;
    text-decoration: underline;
}

#countryResults {
    font-family:sans-serif
}

#nameCountry{
    color: #1F487E;
}

#introParagraph {
    text-align: center;
    color: #FFFFFF;
    
}

#countryForm {
    text-align: center;
}

#countryResults {
    text-align: center;
}

